Multi Agent/Feedback Automation.json
{
  "name": "Feedback Automation",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bBpy-jaK69wdpogzwTnQDRMPP_chxlqpubg2hu9TT4w",
          "mode": "list",
          "cachedResultName": "Doctor Feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bBpy-jaK69wdpogzwTnQDRMPP_chxlqpubg2hu9TT4w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bBpy-jaK69wdpogzwTnQDRMPP_chxlqpubg2hu9TT4w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body['Doctor Name'] }}",
            "Feedback": "={{ $json.body.FeedBack }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -288,
        -144
      ],
      "id": "0e4f51b4-e4d6-44a1-aec9-4da65d163e54",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A9PW14XMhLj6MinG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "synaptrondoctorset",
          "mode": "list",
          "cachedResultName": "synaptrondoctorset"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        592,
        -304
      ],
      "id": "1668e43d-fe6b-410d-9c7d-fea7a91e41a5",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "6FVrPw9lNMxX2cS3",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        -128
      ],
      "id": "06a7bac3-5bb7-49be-8c93-3cf42bc28db8",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "GBHNua6RdwjM27N8",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Name : {{ $json.Name }},\nFeedback : {{ $json.Feedback }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        784,
        -128
      ],
      "id": "4c061ede-7f65-430a-90ea-98deb689f40d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "inputText": "={{ $json.Name }} : {{ $json.Feedback }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        -16,
        -64
      ],
      "id": "9c02549f-ec2c-4f9b-860f-f14df3590709",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "synaptrondoctorset",
          "mode": "list",
          "cachedResultName": "synaptrondoctorset"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        608,
        16
      ],
      "id": "7d71943a-ea3b-4071-bccc-238e9e312426",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "6FVrPw9lNMxX2cS3",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        224
      ],
      "id": "16e8ae9b-8f44-4496-b7e2-52dc048b7f85",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "GBHNua6RdwjM27N8",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        160
      ],
      "id": "f4496da0-3c7a-44a9-9cc8-41338eda9837",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GBHNua6RdwjM27N8",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        448
      ],
      "id": "74d3c0d0-ca79-4a1e-b3c8-c4e535c5aafe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -768,
        -160
      ],
      "id": "8e1e4f02-7ff4-4981-9d3e-a439e9846d64",
      "name": "Webhook1",
      "webhookId": "458df5a9-95a0-43ad-bff8-15bfb5c04994"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        944,
        -304
      ],
      "id": "97de18ab-ed61-4a2e-94ae-7dda96e1b799",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1120,
        16
      ],
      "id": "b5cd9f6e-46d5-4ea5-9e3a-878b92969e1d",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        448
      ],
      "id": "7a6b52b9-599f-4968-a20f-83e73cbefd41",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "content": "\n\n\nWebhook connect the feedback form from frontend",
        "height": 192,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        -224
      ],
      "typeVersion": 1,
      "id": "bbc922f5-db8d-4f12-a99c-9d2331580473",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Feedback data collection and evealuate it. Based on the context and sentiment, store it to vector database.",
        "height": 1088,
        "width": 2832
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        -416
      ],
      "typeVersion": 1,
      "id": "7ffa5eaa-c119-4864-a8c2-d4ebd5f2e8f5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Name : {{ $json.Name }},\nFeedback : {{ $json.Feedback }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        752,
        224
      ],
      "id": "2016c732-4174-43fb-8380-51d876b25a71",
      "name": "Default Data Loader1"
    }
  ],
  "pinData": {},
  "connections": {
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a5da30a5-3243-489d-ace7-4f69370a047d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ffd0e68667d01370c4bab10dc72a8aff2d2b4f92157bf28c42f2926e656f9463"
  },
  "id": "qoeqrqOma7rxZEco",
  "tags": []
}